body {
background-color: #ffe6ff;
font-family: 'Indie Flower', cursive;
background-image: url("https://s-media-cache-ak0.pinimg.com/564x/dd/4f/92/dd4f926f83268bf6fac2a2232d547db7.jpg");
}

p{
color: #0000ff;
font-size: 25px;
}

li{
color: #ff0066;
font-size: 25px;
}

h1{
  color:  #c61aff;
  font-size:55px;
}

img{
  width: 500px;
}

h2{
  color: #ff0066;
  font-size: 40px;
}

img{
    width: 500px;
    padding: 0px;
    border: 5px solid navy;
    margin: 25px;
}

{
    width: 500px;
    padding: 0px;
    border: 5px solid navy;
    margin: 25px;
}
